<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{{ name[:40] }} - 结果详情 - BTHUB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/public.css")}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/footer.css")}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/detail.css")}}>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
</head>
<body>
    <div id="wx-overlay"></div>
    <div id="wx-share">
        <div class="ws-header">
            <a onclick="closeWXShareWindow()"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
        <div class="ws-content">
            <div id="code"></div>
            <div class="ws-qr-tip">
                打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮
            </div>
        </div>
    </div>
    <div id="wrap">
        <section id="top"></section>
        <div id="header">
            <div id="logo-wrapper">
                <a href="/" target="_blank"><img src={{url_for('static', filename="img/logo_white.png")}}/></a>
            </div>
            <div id="search">
                <form method="POST">
                    {{ query_form.hidden_tag() }}
                    <fieldset id="search-container">
                        <div id="search-input" class="search-input-skin hover-animation">
                            {{ query_form.keyword(id="input", autocomplete="off") }}
                        </div>
                        {{ query_form.submit(class="search-button-skin hover-animation", id="search-button") }}
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="content" class="clearfix">
            <div id="left-content" class="fl">
                <h2>
                    {{ name }}
                </h2>
                <div id="bonus" class="clearfix">
                    <div class="like-button fl" id="like">
                        <span class="heart-zone">
                            <a v-on:click="upvote()"><i class="fa fa-heart-o" aria-hidden="true"></i>喜欢</a>
                        </span>
                        <span class="num-zone">| 4</span>
                    </div>
                    <div class="share-zone fr">
                        <span>分享到:</span>
                        <a onclick="openWXShareWindow()"><i class="fa fa-weixin share-wx" aria-hidden="true"></i></a>
                        <a onclick="openWBShareWindow()"><i class="fa fa-weibo share-wb" aria-hidden="true"></i></a>
                        <a><i class="fa fa-picture-o share-pic" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="detail-wrapper">
                    <table id="detail">
                        <tbody>
                            <tr><th>创建日期</th><td>{{ date }}</td></tr>
                            <tr><th>最近访问</th><td>{{ date }}</td></tr>
                            <tr><th>文件大小</th><td>{{ size }}</td></tr>
                            <tr><th>热度</th><td>101</td></tr>
                            <tr><th>文件数量</th><td>{{ files|length }}</td></tr>
                            <tr><th>关键词</th><td id="keyword-breaker">
                                {% for x in likes %}
                                    <em><a href="/s/{{x}}/1" target="_blank">{{x}}</a></em>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="action">
                    <a><i class="fa fa-magnet" aria-hidden="true"></i>复制链接</a>
                    <a><i class="fa fa-download" aria-hidden="true"></i>下载种子</a>
                    <a><i class="fa fa-qrcode" aria-hidden="true"></i>拿钱砸我</a>
                </div>
                <div id="chart">
                    <h2>历史热度</h2>
                    <div id="chart-wrap"></div>
                </div>
                <div id="file">
                    <h2>文件列表</h2>
                    <ul class="file-list">
                        {% for x in files %}
                        <li class="clearfix">
                            <span>
                                <i class="fa fa-file-o"></i>{{ x['n'] }}
                            </span>
                            <em>{{ x['l'] }}</em>
                        </li>
                        {% endfor %}
                    </ul>
                    <p id="test1"></p>
                    <p id="test2"></p>
                    <p id="test3"></p>
                </div>
            </div>
            <div id="right-content" class="fr">
                <div id="hot-search">
                    <h3>大家都在搜</h3>
                    <script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.slim.js"></script>
                    <ul>
                        <li class="clearfix" v-for="item in items">
                            <a class="hot-keyword">[[ item[0] ]]</a>
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i>[[ item[1] ]]</span>
                        </li>
                    </ul>
                    <script src={{url_for('static', filename="js/recent.js")}}></script>
                </div>
            </div>
        </div>
        <div id="foot">
            <div class="footer-container">
                <div class="clearfix">
                    <div class="rights fl">Copyright © 2016 <strong>BTHUB.ME</strong>. All rights reserved.</div>
                    <div class="privacy fr">
                        <a>隐私</a>
                        <a>版权</a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom"></div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-color/2.1.2/jquery.color.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/lrsjng.jquery-qrcode/0.14.0/jquery-qrcode.min.js"></script>
    <script src={{url_for('static', filename="js/custom.js")}}></script>
    <script type="text/javascript">
        let historyFigure = echarts.init(document.getElementById('chart-wrap'));
        let option = {
            title: {
                text: ''
            },
            tooltip: {
                formatter: '{b0}当天有{c0}次访问'
            },
            grid:{
                top: 30
            },
            xAxis: {
                data: {{ chart_date | safe }}
            },
            yAxis: {},
            series: [{
                smooth: true,
                symbol: 'circle',
                symbolSize: 10,
                name: '热度',
                type: 'line',
                data: {{ chart_data }}
            }]
        };
        historyFigure.setOption(option);
    </script>
</body>
</html>