<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>BTHUB - 做最好的资源站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/public.css")}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/main.css")}}>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.js"></script>
</head>
<body class="main-skin">
    <div class="mask"></div>
    <div id="wrap">
        <section id="top"></section>
        <div id="nav" class="clearfix">
            <div id="logo" class="fl">
                <img src="../static/img/logo_small.png">
            </div>
            <div id="login" class="fr">
                <ul>
                    <!--<li class="header-hover"><a href="/reg" id="reg-area">注册</a></li>-->
                    <!--<li class="header-hover"><a href="/login" id="login-area">登录</a></li>-->
                </ul>
            </div>
        </div>
        <section id="splash">
                <span>
                </span>
        </section>
        <section id="search">
            <form method="POST">
                {{ form.hidden_tag() }}
                <fieldset id="search-container">
                    <div id="search-input" class="search-input-skin hover-animation">
                        {{ form.keyword(id="input") }}
                    </div>
                    {{ form.submit(class="search-button-skin hover-animation", id="search-button") }}
                </fieldset>
            </form>
        </section>
        <div id="footer-wrapper">
            <p>© 2017 bthub.me | <a href="#" target="_blank">免责声明</a> | 致力于提供最好的搜索体验</p>
        </div>
    </div>
    <script>
             $(function () {
                 let availableTags = [
                     "ActionScript",
                     "AppleScript",
                     "Asp",
                     "BASIC",
                     "C",
                     "C++",
                     "Clojure",
                     "COBOL",
                     "ColdFusion",
                     "Erlang",
                     "Fortran",
                     "Groovy",
                     "Haskell",
                     "Java",
                     "JavaScript",
                     "Lisp",
                     "Perl",
                     "PHP",
                     "Python",
                     "Ruby",
                     "Scala",
                     "Scheme",
                     "爱情是我的",
                     "爱琴海"
                 ];
                 $("#input").autocomplete({
                     source: availableTags,
                     position:{
                         my:"left-10 top+10"
                     }
                 });
             });
      </script>
</body>
</html>