#foot{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0 0 5px #333;
}

.footer-container{
    width: 100%;
    padding-top: 35px;
    padding-bottom: 39px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-bottom{
    width: 100%;
    height:5px;
    background: #c9481c;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.privacy a{
    padding: 0 10px;
    transition: color .5s ease;
}

.rights{
    padding-left: 120px;
}

.privacy{
    padding-right: 120px;
}

.privacy a:link{

}

.privacy a:visited{

}

.privacy a:hover{
    color: white;
}

.privacy a:active{

}