*{
    margin: 0;
    padding: 0;
    -webkit-appearance:none;
    font-family: dashicons, 'Segoe UI', 'WenQuanYi Micro Hei', 'WenQuanYi Micro Hei Mono', 'Microsoft Yahei', 'Microsoft Yahei Mono', 微软雅黑, sans-serif;
}
input,button,select,textarea{outline:none}
html{
    height: 100%;
    min-height: 420px;
    -webkit-font-smoothing: antialiased;
}
body{
    min-height: 512px;
}
ul, ol, li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.fl{float: left}
.fr{float: right}
.css-center{
    margin-left: auto;
    margin-right: auto;
}
.css-hide{
    display:none;
}
.css-block{
    display: block;
}
img, fieldset {
    border: none;
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
