<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>BTHUB - 做最好的资源站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/public.css")}}>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/main.css")}}>
</head>
<body class="main-skin">
    <div class="mask"></div>
    <div id="wrap">
        <section id="top"></section>
        <div id="nav" class="clearfix">
            <div id="logo" class="fl">
                <img src="../static/img/logo_small.png">
            </div>
            <div id="login" class="fr">
                <ul>
                    <!--<li class="header-hover"><a href="/reg" id="reg-area">注册</a></li>-->
                    <!--<li class="header-hover"><a href="/login" id="login-area">登录</a></li>-->
                </ul>
            </div>
        </div>
        <section id="splash" class="margin-animation">
                <span>
                </span>
        </section>
        <section id="search">
            <form action="/s">
                <fieldset id="search-container">
                    <div id="search-input" class="search-input-skin hover-animation">
                        <input type="text" name="keyword" id="input" autocomplete="off">
                    </div>
                    <input type="submit" id="search-button" class="search-button-skin hover-animation" value="搜索">
                </fieldset>
            </form>
        </section>
        <div id="footer-wrapper">
            <p>© 2017 bthub.me | <a href="#" target="_blank">免责声明</a> | 致力于提供最好的搜索体验</p>
        </div>
    </div>
</body>
</html>